@model List<CarPlanet.Models.Autos>

@{
    ViewData["Title"] = "Auto";
}

<body>
    <div class="py-5">
        <div class="container">

            <div class="row hidden-md-up ">



                @foreach (Autos a in Model)
                {

                    <div class="col-md-4" style="margin-bottom: 20px;">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="@a.Link" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@a.Name</h5>
                                <p class="card-text">@a.Beschreibung</p>
                                <a class="btn btn-primary" asp-controller="Part" asp-action="CompatibleParts" asp-route-id="@a.AutoId">Ersatzteile</a>
                                @if (@ViewBag.isAdmin == 1)
                                {
                                    <a class="btn btn-danger" asp-controller="Auto" asp-action="Delete" asp-route-id="@a.AutoId">Löschen</a>
                                }
                            </div>
                        </div>
                    </div>

                }
                @if (ViewBag.isAdmin == 1)
                {

                    <div class="col-md-4" style="margin-bottom: 20px;">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <a class="btn btn-primary" asp-action="InsertPartial" asp-controller="Auto">Hinzufügen</a>

                            </div>
                        </div>
                    </div>
                   
                }
            </div>





        </div>
    </div>

</body>

